body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    font-family: "Courier New", monospace;
    color: rgb(0, 255, 0);
    display: flex;
    flex-direction: column;
}

/* Global Element  Style */
h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
}
pre p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p, pre {
    line-height: 30px;
    font-size: 16px;
}
b {
    background-color:rgba(255, 208, 0, 0.295);
    color: rgb(0, 255, 0);
    padding: 2px 5px 5px 5px;
    border-radius: 4px;
}
pre {
    background-color: rgba(255, 208, 0, 0.295);
    min-width: 300px;
    max-width: 800px;
    min-height: max-content;
    max-height: 300px;
    padding: 45px 5px 20px;
    position: relative;
    border-radius: 6px;
    overflow: auto;
    border: 1px solid rgb(0, 255, 0);
}
pre::before {
    content: "Example:";
    border-bottom: 1px solid rgb(0, 255, 0);
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
    position: absolute;
    top: 5px;
    left: 5px;
}
strong {
    font-weight: normal;
    background-color:rgba(255, 81, 0, 0.295);
    color: rgb(0, 255, 0);
    padding: 5px;
    border-radius: 4px;
}
u {
    text-decoration: none;
    background-color:rgba(255, 208, 0, 0.295);
    color: rgb(0, 255, 0);
    padding: 5px .5px;
    border: 1px solid white;
    border-radius: 4px;
}
ol {
    width: 100%;
}
img {
    width: 400px;
    align-self: center;
    border: 1.5px solid rgb(0, 255, 0);
    transition: .2s ease;
}
img:hover {
    transform: scale(3.3);
    z-index: 5;
    border: unset;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 3px rgba(0, 255, 0, .5);
}


/* navigation */
nav {
    width: 100%;
    height: 65px;
    background-color: #202020;
    box-shadow: 0px 1px 5px rgba(245, 245, 245, 0.4);
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}
nav > .nav_title > a {
    text-decoration: none;
    color: rgb(0, 255, 0);
    font-size: 28px;
    font-weight: 800;
}
nav .nav_bar {
    min-width: 300px;
    max-width: 330px;
    min-height: max-content;
    max-height: 300px;
    transition: .2s ease-in-out;
    overflow: auto;
    border: 2px groove rgb(0, 255, 0);
    display: flex;
    position: fixed;
    right: -360px;
    top: 75px;
    border-radius: 5px;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    background-color: #202020;
}
nav .nav_bar a {
    color: rgb(0, 255, 0);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}
.nav_link:hover a {
    background-color: rgba(255, 208, 0, 0.295);
}
nav .nav_menu {
    position: absolute;
    right: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(0, 255, 0);
}
nav .nav_menu:hover {
    box-shadow: 0px 0px 3px 1px rgb(0, 255, 0);
}


/* main-content */
main {
    width: 100%;
    box-sizing: border-box;
    height: max-content;
    margin-top: 70px;
    padding: 30px 40px ; 
    display: flex;
    flex-direction: column;
    gap: 70px;
    overflow: hidden;
}

h1.title {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin: 10px 0 50px;
}

h2.sub{
    padding: 0 5px;
    border-radius: 5px;
    background-color:rgba(255, 208, 0, 0.295);
    border-bottom: 2px solid rgb(0, 255, 0);
    width: max-content;
    text-transform: capitalize;
}

li.sub_container {
    border-bottom: 1px solid rgb(0, 255, 0);
    padding: 15px 5px 5px 0px;
}

main a {
    position: relative;
    color: blue;
    padding: 2px 5px 5px 20px;
    border-radius: 4px;
    background-color: lightblue;
    font-weight: 900;
    text-shadow: .5px .5px 0 yellow;
    font-size: 18px;
    box-sizing: border-box;
}
main a:hover {
    color: white;
    background-color: blue;
}
/* article > card */
article {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px 0;
}
article a.card {
    width: 300px;
    height: 80px;
    padding: 15px 10px;
    background: #202020;
    color: rgb(0, 255, 0);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid rgb(0, 255, 0);
}
article a.card:hover {
    box-shadow: 0px 0px 3px 1px rgb(0, 255, 0);
}

/* expand_list */
.expand_list {
    background: rgb(20, 20, 20);
    border-radius: 30px;
    padding-bottom: 0px;
    position:relative; 
}
.expand_list .expand_arrow {
    width: calc(100% + 25px);
    height: max-content;
    margin-bottom: 30px;
    border-radius: 30px;
    background: rgba(255, 208, 0, 0.295);
    border: 2px solid rgba(255, 255, 255, 0.582);
    padding: 5px;
    cursor: pointer;
    display: flex;
    place-content: center start;
    align-items: center;
    position:relative;
    top:0;
    left:-40px;
}
.expand_list .expand_arrow img {
    height: 40px;
    width: auto;
    border: unset;
    fill: white;
    transition: .4s ease-out;
}
.expand_list .expand_arrow img:hover {
    transform:unset;
    box-shadow: unset;
}
/* .expand_off {
    display:none;
} */
.expand_list-item {
  display: none;
}